body{
    font-family: 'Roboto', sans-serif;
}
.button{
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.btn{
    width:12rem;
    height: 2.67rem;
    border: none;
    border-radius: 0.15rem;
    color: white;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
    background: #DD4B39;
}
#logoutbtn{
    background-color: black;
}
.btn:hover {
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0,0.2);
  /*  */
  transition: 0.2s ease;
}

